* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    margin: auto;
}

.visor {
    width: 50px;
    height: 30px;
    border: 1px solid blue;
}

.calc {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px 5px 5px;
    width: 200px;
}

h1 {
    text-align: center;
}

main {
    margin: 0 43% 0;
}

button {
    border-radius: 3px;
    height: 25px;
    width: 32px;
    border: 1px solid rgb(135, 151, 170);
    background-color: rgb(212, 224, 237);
}

.zero {
    width: 100%;
}

.equal {
    height: 55px;
}

button:hover {
    background-color: rgb(234, 237, 240)
}
