* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100vh;
    margin: auto;
}

.background {
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(111, 173, 250), rgb(210, 212, 250));
}

h1 {
    margin-top: auto;
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: rgb(47, 48, 51);
    border: 1px solid black;
    width: 229px;
    background-color: rgb(102, 203, 234);
}

.options {
    border-top: 1px solid rgb(124, 174, 200);
    margin: 0 auto 0;
    background-color: rgb(240, 240, 240);
}

.option-button {
    background-color: transparent;
    border: none;
    text-align: center;
    height: 16px;
}

#visor {
    background: radial-gradient(rgb(221, 231, 243), white);
    width: 188px;
    height: 48px;
    border: 1px solid rgb(142, 156, 173);
    border-radius: 2px;
}

.calc {
    border: none;
    margin: 5px;
}

.content {
    background-color: rgb(221, 231, 243);
    padding: 11px;
}

table {
    width: 100%;
    margin: auto;
}

button {
    border-radius: 2px;
    height: 25px;
    width: 32px;
    border: 1px solid rgb(135, 151, 170);
    background-color: rgb(212, 224, 237);
}

.zero {
    width: 100%;
}

.equal {
    height: 55px;
}

.table-button:hover {
    background: linear-gradient( rgb(255, 234, 210) 50%, rgb(255, 209, 111) 50%);
}
